@import "tailwindcss";

@font-face {
	font-family: "extrude";
	src: url("/fonts/extrude/extrude.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

.extrude {
	font-family: "extrude", sans-serif;
}

@font-face {
	font-family: "wim";
	src: url("/fonts/wim/wim.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

.wim {
	font-family: "wim", sans-serif;
}
